default_stages: [pre-commit]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo
        name: taplo format
        entry: taplo format --check
        language: system
        types: [toml]
        pass_filenames: true

      - id: cargo-deny
        name: cargo deny
        entry: cargo deny check
        language: system
        files: ^Cargo\.toml$
        pass_filenames: false

      - id: cargo-test
        name: cargo nextest
        entry: cargo nextest run --all-features
        language: system
        pass_filenames: false
        stages: [pre-push]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        types_or: [yaml, markdown]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        args: ["-i", "4", "-ci"]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: updpkgsums
        name: Update PKGBUILD checksums
        entry: updpkgsums
        language: system
        files: PKGBUILD(-bin|-git)?$
        pass_filenames: true

      - id: namcap
        name: Lint PKGBUILDs
        entry: namcap
        language: system
        files: PKGBUILD(-bin|-git)?$
        pass_filenames: true
