[advisories]
version = 2
db-path = "~/.cargo/advisory-db"
ignore = []

[licenses]
version = 2
unused-allowed-license = "warn"
allow = ["MIT", "Apache-2.0", "Zlib", "GPL-3.0-or-later", "Unicode-3.0"]
confidence-threshold = 0.8

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]

[bans]
multiple-versions = "warn"
wildcards = "allow"
highlight = "all"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
